@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@font-face {
  font-family: "Gilroy-Light";
  src: url('https://ui.tradetrust.io/static/fonts/GilroyLight/font.woff2') format('woff2'),
    url('https://ui.tradetrust.io/static/fonts/GilroyLight/font.woff') format('woff');
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url('https://ui.tradetrust.io/static/fonts/GilroyMedium/font.woff2') format('woff2'),
    url('https://ui.tradetrust.io/static/fonts/GilroyMedium/font.woff') format('woff');
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url('https://ui.tradetrust.io/static/fonts/GilroyBold/font.woff2') format('woff2'),
    url('https://ui.tradetrust.io/static/fonts/GilroyBold/font.woff') format('woff');
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url('https://ui.tradetrust.io/static/fonts/GilroyExtraBold/font.woff2') format('woff2'),
    url('https://ui.tradetrust.io/static/fonts/GilroyExtraBold/font.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 52px;
    @apply font-ubuntu;
    @apply font-bold;
  }

  h2 {
    font-size: 40px;
    @apply font-ubuntu;
    @apply font-bold;
  }

  h3 {
    font-size: 26px;
    @apply font-ubuntu;
    @apply font-normal;
    @apply leading-tight;
  }

  h4 {
    font-size: 20px;
    @apply font-gilroy-bold;
  }

  h5 {
    font-size: 16px;
    @apply font-gilroy-bold;
  }

  h6 {
    font-size: 14px;
    @apply font-gilroy-medium;
    @apply font-normal;
  }

  p {
    font-size: 16px;
    @apply font-gilroy-medium;
    @apply font-normal;
  }

  input[disabled] {
    @apply cursor-not-allowed;
  }

  a {
    @apply transition-colors;
    @apply duration-200;
    @apply ease-out;
    @apply text-cerulean-300;
  }

  a:hover {
    @apply text-cerulean-500;
  }

  .button-icon svg {
    max-width: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  /* additional styles only to POC */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-cloud-800;
  }
}